@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <img src="https://lh3.googleusercontent.com/fife/ALs6j_EmYU7M_dGcHcTw-0JuJII7rAUAR2VT_rGQpCT12GHwvMjVWGpXinRlhFvyEONKqINVR9guLVYN-pI-to7rWp8HX_x0dYs1eZPjRZPtB9mGUO0aNCCVqFh9-lRnzrolhZZA9Vb3fpQ31qxTtfM1TJktKzVt8PuY_Dz6tfOWWmUA5_v22MyK5gU8AQo352zzHcH8N53l3LPryvPZho4G-DAkIvYA3nldegcHaXJVDIcQgKfFxtQi5UTD79D280z2x74zxMrpw0e3fJi6tW4y-V2zlIuXzwAG629pup1RC4K_4ou0dIViXfim4_jInVD0uctUSlGE6bTZPPNv2TMYISgUdDg4CU0365WTO5VaC0YIhzZF0J7CgBBk4o1XUzUz07oGkrrpo3kXAv2dFSd6fCxvrKLukjDudQ9cSpPFWdLRoDJWL5SJzsF1Kyq46SKHfSUTOZmQ9lYRmkUO-CtoD1Cc2Nl8A0_IW-dUSrVHq9J8vFrTqfWrzc5JgOiBuUJ8UfDXfnjBCRPwSABKNczBbNhytD2tN9tq34qusdZXwhmYrKgLds3bA5KA1JOjzezhfL8q7JY5DYU8hPHoBWG9gYG3DmoT5zZDCf-VkGRAvdY4nTjmmPthwl3736RzvijJiWOZxt_q0OTVACjmaNyqG-P_lQpPNLz3jlahFpiuKLIwocT8UxSohG9ClggAHMYYVlDSiMDsoF_GqNGMaX4ivsdMB-Wt5DQY8m0oQGjJ_Z-3bi75rgXLSh8AJqjIbMY9rAYyMe6zTVbxLWgCQnvJZG48CTEE5ozF6ip2gAOrc50MVRkLnL-OxupqjF6ClYFn4uLii5uTAofnz1Va28sLeckbHECZ0fT7Anr70VS7G0AeITQ4MudIFqdzV6p1eXCag1NWgFkPnm56M6VoN6iKjvf5y0V3o16teCOgob_eGBfZo9VEXD96lMGv3vxhIJfsj9PaHT7q4woBRi7rMHzEqikHudwnq4448mLWQtrdCZNbcX9QPfXHjeqe2ruHKRahWnakOPTitCWD3iA8EDzCzb4Pz4WTjMm7zW-FIhJxOzjT09breX0LLx02QUNpliOq0FxOUklq6ROmocbvATqeQFOhzFfLuyHNQ1IrGeUjTa-IxzYnnIzgmOkm8sqrLeFdF0UC_VLBkEjIW168krOHHw_t_G7pACYK-PgrqZVqGUNaFq4F7YzKQR5pnVFQKR9Yk9axt8Ol85TUKfOmKBk_dDFQmk5WPzM7JOWcA1dS0SIjAnJ8hZm8-J0JIppxG3HYXARfQF3cw8SVI62z3DfE5ip3YxaT168GKdfcCqFIdx1XunHcg8aotowneQMcxiE2IyHENKVWqMW6wPbUoWTvQdottJb-rEhqe_8c3RC60g3WVhUVXTn4wQ6ZpmYkkRi0v6gPiXM0EXMEL3YLjXzEyNtk9U_OBjhBz-akMKNuViepnnj3nRIRdRC42dUjkye7thaj2w53b1HmPxKmwjRFCFqNdH4kbmJvmekJ6bByAn4B_Me16EQDOIMvCA9tmtcdmOySKoSB_uDaGjdVL-NAWQ2d80iHTcwEnTZ5nXCU5n3dbq-zkmj6mFstuO6XJKJvg1eQ4uxCYsU2teAJio5eNXi2fBwy3pPiuFHnV2yrzxsar8jznhqTIdXWG5vTQGlLn2wR_jsugRKPQDCW6ODvEwf0AbCkEUdtRLPbHcvhu5xO8UsXqIsLIx4M9AqC9qJv8crsh5o4aC6ftWttxjhpIm5yrKHr_ovGQQ=s220?authuser=0" style:" height=50em ; width=50em;" style="margin:5px">
            
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
