<div class="top-row ps--1 navbar navbar-dark" style="background-color: #0056b3; color: white;">
    <div class="container-fluid">
        <a class="navbar-brand" href="" style="font-size:1.17rem">Образованието е Бъдеще</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" style= color: white" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()" style="background-color: #0056b3; color: white;">
    <nav class="flex-column" style="background-color: #0056b3; color: white;">
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Начало
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="career-bot">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-dots-fill" viewBox="0 0 16 16" style="vertical-align: middle;">
                    <path d="M16 8c0 3.866-3.582 7-8 7a9 9 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7M5 8a1 1 0 1 0-2 0 1 1 0 0 0 2 0m4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0m3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
                </svg>Кариерен Бот
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="form">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="white" viewBox="0 0 474.557 474.557" style="vertical-align: middle; margin-right: 14px;">
                    <path d="M29.045,0v474.557h416.467V0H29.045z M212.569,82.81h192.972v55.221H212.569V82.81z
                        M212.569,180.893h192.972v55.221H212.569V180.893z M178.617,329.774H69.016v-55.221h109.623v55.221H178.617z M178.617,236.114
                        H69.016v-55.221h109.623v55.221H178.617z M178.617,138.031H69.016V82.81h109.623v55.221H178.617z M212.569,274.574h192.972
                        v55.221H212.569V274.574z M405.563,433.292H286.471v-39h119.092V433.292z"/>
                </svg>
                Въпросник
            </NavLink>
        </div>

        <!--<div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>-->

    </nav>
</div>

